.form_trips{
    margin: 0 auto;
    background-color: #363a3c;
    padding: 30px;
    border-radius: 7px;
    width: 500px;
    height: 660px;
    input{
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    width: 100%;
    color: #ffffff91;


    }
    label{
      display: inline-block;
      color:white;
    }
    p{
      font-size:18px;
      font-weight: bold;
      padding-top: 20px;
      display: table-cell;
    }
}

.button{
  background-color: #00d0ff;
  width: 100px;
  border-radius: 8px;
  color: white;
  position: relative;
  top: 30px;
  input{
    border:none;
  }
}
