.card-trip-show{
  overflow: hidden;
  background: white;
  box-shadow: 0 10px 19px rgba(136, 129, 129, 0.2);
  border-radius: 2.5px;
  padding:50px;
  font-size: 35px;
  margin: 50px auto;
  p{
    padding-bottom: 20px;
  }

#card-trip-infos{
  padding: 10px 0;
    p{
      padding-right: 40px;
      }
  }

  h3{
  font-weight: bold;
  margin-bottom:20px;
  color: #646060;
  }

  p{
    font-size: 15px;
    margin: 0;
  }
  a{
    font-size:15px;
    margin-left: 5px;
  }
}

.bottom-info{
  border-top: 1px solid #f1ecec;
  display: flex;
  justify-content: space-between;
}

.price-guest{
  display:flex;
  padding-top:30px;
  position: relative;
  left: 40px;
}

.guests{
  margin-left: 10px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .card-trip-show {
    grid-template-columns: 1fr;
    width: 400px;
    height: 390px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-trip-show {
    grid-template-columns: 1fr;
    width: 400px;
    height: 390px;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-trip-show {
    grid-template-columns: 1fr;
    width: 600px;
    height: 350px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-trip-show {
    grid-template-columns: 1fr;
    width: 600px;
    height: 350px;
  }
}


